a {
  text-decoration: none;
}
code {
  color: #666;
  font-size: 0.8em;
}
.nav {
  margin-top: 2em;
}
.nav h4 {
  margin: 0;
  font-weight: bold;
}
.nav h4 a {
  padding-right: 0.3em;
  text-transform: capitalize;
}
.nav h4 a:hover {
}
.content p {
  margin: 0;
  padding: 0.3em 0;
}
.content p span {
  color: #ccc;
  font-size: 0.8em;
  padding-left: 1em;
}
.content p code {
  margin-left: 1em;
}
.content a {
  font-size: 1.1em;
}
.row a:hover {
  border-bottom: 1px dashed #ccc;
}
.tag {
  font-size: 12px;
  padding: 2px 4px;
}
.inactivate {
  color: #ccc;
  font-size: 0.9em;
}
