body {
  background-color: #f9f9f9;
}
ul {
  list-style: none !important;
  margin: 0;
  padding: 0;
}
header {
  padding: 10px 0 10px 0;
}
header span {
  font-size: 28px;
  color: #ccc;
  font-weight: bold;
}
header a {
  margin-bottom: 5px;
  float: right;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
}
.main {
}
a.post-link {
  color: #2783BF;
  text-decoration: none;
  font-size: 1.1em;
}
a.post-link:hover {
}
ul.posts li {
  padding: 3px;
}
.pagination {
  margin-top: 16px;
  margin-bottom: 20px;
}
.pagination a {
  text-decoration: none;
  padding: 2px 4px;
  color: #2783BF;
  font-size: 1.2em;
}
.pagination a.current {
  color: #fff;
  background-color: #2783BF;
}
.post-author {
  padding: 2px 4px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  font-size: 12px;
  color: #666;
  background-color: #F1F1F1;
}
.time {
  margin-left: 20px;
  font-size: .8em;
  color: #9c9c9c;
}
.tag {
  font-size: 0.8em;
  color: #fff;
  background-color: #2783BF;
  padding: 3px 5px;
  margin-left: 20px;
}
.indicator {
  float: right;
}
li.post-list {
  padding: 10px 20px !important;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0,0,0,.12);
  background-color: #fff;
}
li.post-list:hover {
  box-shadow: 0 1px 4px rgba(0,0,0,.22);
}
.post-title {
  margin-bottom: 10px;
}
