{% extends 'layout.html' %}

{% block content %}
<div class="headline">
  <h4>News</h4>
  {% for post in posts %}
  <div class="row">
    <div class="ten columns">
      <p><a href="{{ post.url }}">{{ post.title|capitalize }}</a><code>{{ post.author||post.hostname }}</code><span>{{ post.time|date('Y-m-d H:m:s') }}</span></p>
    </div>
    <div class="two columns">
      {% for color in post.tags %}
      <span class="tag" style="background: {{ color }}">#{{ loop.key }}</span>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
